.splash-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.hero {
  text-align: center;

  &__headline {
    font-size: 4rem;
  }
}

.startup-container {
  margin-top: 2em;

  &__btn {
    @include btn;
    text-decoration: none;
    color: white;
    margin: 0.5em;
  }
}
