.quiz {
  height: 100vh;
  margin: 0 auto;
  max-width: 900px;
  padding: 1em;
  max-height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr;

  &__question-wrapper {
    display: grid;
    grid-template-rows: 1fr auto auto 1fr;
    align-content: center;
    gap: 1em;
  }
  &__category {
    text-align: center;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__question {
    align-self: center;
  }

  &__question-text {
    text-align: center;
    text-transform: none;
  }

  &__time {
    height: 10px;
    background-color: white;
    width: 0%;

    &--anim {
      animation: progress 10s linear;
    }
  }

  &__answers {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 1em;
    max-height: 400px;
  }

  &__answer {
    @include btn;
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
    color: white;
    border: none;
    min-height: 100px;

    &:focus {
      box-shadow: inset 0px 0px 0px 5px rgb(231, 231, 0);
    }
  }
}

.exit {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(22, 36, 48, 0.493);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-duration: 200ms;
  animation-fill-mode: forwards;

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background: $color__dark;
    border-radius: 7px;
  }

  &__btn-cont {
    display: flex;
  }

  &__btn {
    @include btn;
    text-decoration: none;
    color: white;
    margin: 1em;
    padding: 1em 0.5em 1em 0.5em;
  }
}

@keyframes progress {
  from {
    width: 100%;
    background-color: white;
  }
  to {
    width: 0%;
    background-color: red;
  }
}
