.highscore {
  margin: 0 auto;
  border-radius: 10px;
  background-color: #86919a;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__headline {
    margin: 0.5em 0 0 0.5em;
  }

  &__item {
    display: grid;
    gap: 1em;
    grid-template-columns: minmax(50px, 100px) auto auto;
    justify-self: center;

    &:nth-child(even) {
      background-color: #73d0f440;
    }
  }

  &__btn {
    @include btn;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    margin-bottom: 1em;
  }

  &__name {
    justify-self: start;
    margin-left: 1em;
  }

  &__difficulty {
    justify-self: end;
  }

  &__points {
    justify-self: end;
    margin-right: 1em;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  max-width: 700px;
  margin: 0 auto;
  min-height: 100vh;
  margin-top: 2em;
  margin-bottom: 2em;
}
