.highscore {
  margin: 0 auto;
  height: 100vh;
  padding: 3em;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 700px;

  &__list-container {
  }

  &__item {
    display: grid;
    gap: 1em;
    grid-auto-flow: column;
  }

  &__btn {
    @include btn;
    text-decoration: none;
    color: white;
    margin: 1em;
    text-align: center;
  }

  &__name {
    justify-self: start;
  }

  &__points {
    justify-self: end;
  }
}
