.quiz-setup {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: pfs-bold, sans-serif;
  font-size: 18px;

  &__headline {
    font-size: 30px;
  }

  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 768px) {
      width: 70%;
    }

    @media (min-width: 992px) {
      width: 50%;
    }

    & > div {
      margin: 1em 0;
    }
  }

  &__label {
    margin-bottom: 1em;
  }

  &__input {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    border: none;
    color: white;
    background-color: $color__dark-sec;
    padding: 15px;
    font-size: 18px;
    display: block;
    margin-top: 1em;
    font-family: pfs-bold;
    text-transform: uppercase;
    box-sizing: border-box;
  }

  &__submit {
    @include btn;
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
    color: white;
    border: none;
  }
}

.select-box {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: pfs-bold, sans-serif;
  font-size: 18px;
  color: white;
  margin-top: 1em;

  &__current {
    position: relative;
    box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
    cursor: pointer;
    outline: none;

    &:focus {
      & + .select-box__list {
        opacity: 1;

        // We have to set "animation-name: none;" to make the list visible (read below how it works)

        animation-name: none;

        .select-box__option {
          cursor: pointer;
        }
      }

      .select-box__icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
  }

  &__value {
    display: flex;
  }

  &__input {
    display: none;

    // &:checked + .select-box__input-text {
    //   display: block;
    // }
  }
  &__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: $color__dark-sec;
    color: white;

    &.chosen {
      display: block;
    }
  }

  &__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: 200ms;

    // We need to use animation with delay.
    // Otherwise the click event will not have time to run on label, because this element disapears immediately when .select-box__current element loses the focus.
    // This delay will not be noticed because we set "opacity" to "0".
    // We also use "animation-fill-mode: forwards" to make the list stay hidden.

    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
  }

  &__option {
    display: block;
    padding: 15px;
    background-color: $color__dark-sec;

    &:hover,
    &:focus {
      background-color: $color__blue;
    }
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
