@import "variables";
@import "index";
@import "setup";
@import "hello";
@import "quiz";

body {
  opacity: 0;
  background-color: $color__dark;
  color: white;
  transition: opacity 0.5s;
  margin: 0 auto;
  display: inline;
  font-family: pfs-bold;
  text-transform: uppercase;
  box-sizing: border-box;
  max-height: 100vh;
}
