@import "variables";
@import "index";
@import "setup";
@import "hello";
@import "quiz";
@import "score";

body {
  background-color: $color__dark;
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: pfs-bold;
  text-transform: uppercase;
  box-sizing: border-box;
  height: 100%;
}
